<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Jersey Demo</display-name>
	<servlet>
		<servlet-name>JerseyDemo</servlet-name>
		<!-- Define ServletContainer of Jersey -->
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<!-- Define the package to search for classes -->
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.javahelps.jerseydemo</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map all the URLs to the Jersey ServletContainer -->
	<servlet-mapping>
		<servlet-name>JerseyDemo</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>